body{
	font-family: Muli;
	font-size: 1.4em;
}
@media (min-width: 1024px) {
	body{
		font-size: 1.6em;
	}
}

h1 {
	font-size: 3em;	
	font-weight: bold;
}

h2{
	font-size: 2em;
	font-weight: bold;
}

h3{
	font-size: 1.3em;
	font-weight: bold;
}

h4{
	font-size: 1.1em;
	font-weight: bold;
}

h5{
	font-size: 1.0em;
	font-weight: bold;
}

.posts a{
	color: #333;
}

blockquote, code{
	font-size: 1em;
}

label, input, button, select {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=text], select{
	min-width: 200px;
	border:1px solid #999; 
}
input[type=text]{	
	-webkit-appearance:none;
}
input[type=submit]{
	background-color: #ccc; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	letter-spacing:.03em; 
	color: #333; 
	cursor: pointer; 
	display: inline-block; 
	text-align: center; 
	text-decoration: none; 
	vertical-align: top; 
	white-space: nowrap; 
	width: auto; 
	transition: all 0.23s ease-in-out 0s;
}

/* navbar */
.navbar-default {
    background-color: #066027;
    border: 1px solid #fff;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
.navbar-brand img{
	 border: 4px solid #066027;
	 border-radius: 50%;
	 background-color: #fff;	 
 }
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #333;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #333;
     background-color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	border-color: #fff;
    background-color: #333;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a  {
        color: #333;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

 @media (max-width: 767px) {
	.navbar-collapse{	
		background-color: #fff;
	}
}

@media (max-width: 767px) {
	#facebook-ico{ display: none; }
	#twitter-ico{ display: none; }
}
@media (min-width: 768px) {
	#facebook-txt{ display: none; }
	#twitter-txt{ display: none; }
	/* buttons */
	#facebook-ico{
		background-image: url('../img/social-media-icons.png');
		background-repeat: no-repeat;
		background-position: -693px -13px;
		margin: 10px;
		width: 25px;
		height: 25px;
	}
	#twitter-ico{
		background-image: url('../img/social-media-icons.png');
		background-repeat: no-repeat;
		background-position: -528px -13px;
		width: 25px;
		height: 25px;
		margin: 10px;
	}
}

/* buttons */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #333;
    border-color: #333;
}

/* carousel */
 
 .carousel .item {
  background-color: #F7F7F7;
}

/* news grid */
.newsgrid-item{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	text-align: center;
	color: #fff;
}
.newsgrid-item:hover, .newsgrid-item.active{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.newsgrid-item h1{
	color: #fff;
}
.newsgrid-item a, .newsgrid-item a:hover{
	text-decoration: none;
	color: #fff;
}

.newsgrid-item-overlay{
	background-color:rgba(51,51,51,0.6);
}

/* next game */

#next a {
	color: #333;
	text-decoration: none;
}
#next-middle{
	background-color: #F7F7F7;
	border-top: 1px solid #066027;
	border-bottom: 1px solid #066027;
}
#next-top-border{
	border: 1px solid #333;
	border-bottom-width: 0px;
}
#next-top-title{
	background-color: #fff;
}
#next-home-team-logo img{
	border: 4px solid #066027;
	 border-radius: 50%;
	 background-color: #fff;	
}
#next-away-team-logo img{
	border: 4px solid #066027;
	 border-radius: 50%;
	 background-color: #fff;	
}

#next-bottom-border{
	border: 1px solid #333;
	border-top-width: 0px;
}

/* black bar */
.black-bar{
	background-color: #333;	
	padding: 2vh;
	text-align: center;
}
.black-bar h2{
	color: #fff;
}

/* partners */
#partners-top{
	background-color: #333;	
}
#partners-top h2{
	color: #fff;
}
#partners > div{
	background-color: #fff;
	border-bottom: 1px solid #333;
}

/* news-letter */
#news-letter{
	background-color: #333;
}
#news-letter label{
	color: #fff;
}


#news > .container > div a, #all-matches a{
	color: #333;
	text-decoration: none;
}
#news > .container > div a h3, #all-matches a{
	font-weight: bold;
	font-size: 1.4em;
}
/* gbasket */
#gbasket-banner{
	margin-top: 4vh;
}

#gbasket-cta{
	background-color: #333;	
	padding: 2vh;
	text-align: center;
}
#gbasket-cta h2{
	color: #fff;
}

/* map */
#map-holder{
	background-color: #066027;
	border: 1px solid #E7E7E7;
}
#map::after{
	background-color: #066027;
}

#map-info{
	color: #fff;
}

@media (min-width: 768px) {
	#map-info{
		font-size: 1.2em;
	}
}


/* footer */
#footer{
	padding: 3vh 1vw;
	background-color: #333;
	color: #fff;
}
#footer a{
	color: #fff;
}


/* dashboard */
/*.dashboard{*/
	/* font-size: 1em; */
/*}*/

.pane{
    margin: 5px 0px;
}
.border{
	border: 1px solid #CCC;
}
.spacer:not(:last-child){
 	margin-bottom: 5px;
}

table th{
	background-color: #333;
	color: #fff;
	font-weight: normal;
}
table tr, table td{
	border: 1px solid #CCC;
	border-collapse: collapse;
	padding: 5px;
}



.detail tr:nth-child(even){ background-color: #FFFFFF; }
.detail tr:nth-child(odd){ background-color: #EFEFEF; }

.next-game .detail tr:nth-child(even){ background-color: #FFFFFF; color: #333; }
.next-game .detail tr:nth-child(odd){ background-color: #EEEEEE; color: #333; }


/* team dashboard */

#team-dashboard{
	visibility: hidden;
}

.dashboard .tiles .tile .tile-description{
   background-color:rgba(51,51,51,0.6);
   color: #fff;
   padding: 5px;
}

.rank{
	font-size: 2em;
	padding: .6em;
}
.rank span{
	font-size: 3em;
	font-weight: bold;
}

.next-game{
	background-color: #066027;
	color: #fff;
	padding: 20px;
}
.next-game h2, .next-game a{
	color: #fff;
}
.next-game img{
	border: 1px solid #066027;
	background-color: #fff;
	padding: 10px;
}

.standings { background-color: #EFEFEF; }
.standings ~ .standings { background-color: #fff; }
.standings.border { border: 1px solid #EFEFEF; }
.standings.border ~ .standings.border { border: 1px solid #EFEFEF; }

.nounderline, .nounderline:hover {
	color: #333;
	text-decoration: none;
}
.next-game .nounderline, .next-game .nounderline:hover {
	color: #fff;
	text-decoration: none;
}

.calendar-items{
	background: linear-gradient(#EFEFEF 0,#EFEFEF 270px, #f6f6f6 270px,#f6f6f6 630px,#EFEFEF 630px,#EFEFEF 720px);
}
.calendar-item{
	 background-color: #066027; 
	 /* background-color: #333;
	  color: #fff; */
	  font-size: 12px;
	  white-space: nowrap;
}
.calendar-item a, .calendar-item a:focus, .calendar-item a:hover{
	color:#fff;
}

@media (min-width: 768px) {
	.calendar-item{
     	 font-size: .9vw;
   }
}


/* responsive table views */
.responsive-table table, .striped-table table { 
  width: 100%; 
  border-collapse: collapse; 
}
.responsive-table table a {
	cursor: pointer;
}

.striped-table table tr:nth-child(odd) {
	background-color: #EFEFEF;
 }

.responsive-table th, .calendar-header { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.responsive-table td, .responsive-table th { 
 /* border: 1px solid #ccc; */
  text-align: left; 
}

.responsive-table-cell{
	position: relative;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.responsive-table tr { border: 1px solid #ccc; }

	.responsive-table td { 
		/* Behave  like a "row" */
		border: none;
	}
	.responsive-table td:not(:last-child) { 
		border-bottom: 1px solid #eee; 
	}
	.responsive-table tr:nth-child(odd) td:not(:last-child){
		border-bottom: 1px solid #fff; 
	 }
	
}

/* responsive forms */
.responsive-form table { 
	width: 100%; 
	border-collapse: collapse;
	border: none;
  }
  .responsive-form table a {
	  cursor: pointer;
  }
  
  .responsive-form th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
  }
  .responsive-form tr, .responsive-form td  {
	  border: none;
  }
  .responsive-form td { 
	text-align: left;
	white-space: nowrap;
  }
  .responsive-form td:first-of-type { 
	text-align: right;
  }
  .responsive-form td:not(:first-of-type){
	width: 99%;
  }
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
	.responsive-form td:first-of-type { 
		text-align: left;
	  }
  }

.table-indicator{
	padding: .8vh .8vw;
	font-size: .7em;
	color: #DDD;
}
.table-indicator.red{
	color: #FF0000;
}

#workplanning th{
	white-space: nowrap
}
#workplanning ul{
	list-style: none;
}

/* organogram */

.organogram{
	position: relative;
}
.organogram figure{
	padding: 4vh;
}

.organogram ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}

.organogram ul a{
	display: block;
	text-align: center;
	/*border: 4px solid #333;*/
	background-color: #333;
	padding: 2vh;
	margin: 1vh;
	color: #fff;
	font-weight: bold;
}

.organogram .management > li > a {
	min-width: 30vw;
	margin: 0 auto 0 auto;
}

.organogram .administration{
	width: 50%;
	text-align: right;
	border: 0;
	border-right: 4px solid #333;
}

.organogram .administration > li > a{
	display: inline-block;
	min-width: 10vw;
	position: relative;	
}
.organogram .administration > li > a:after{
	content:"";
	display: block;
	position: absolute;
	border-bottom: 4px solid #333;
	width: 1.3vh;
	top: 50%;
	right: -1.3vh;
}

.organogram .departments{
	display: flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	position: relative;
}
.organogram .departments:after{
	content: "";
	display: block;
	position: absolute;
	border-top: 4px solid #333;
	height: 1vh;
	margin: 0 auto;
	width: 82%;
	left: 8.2%;
}

.organogram .department{
	flex-grow: 1;
	position: relative;
}
.organogram .department:before{
	content:"";
	display: block;
	position: absolute;
	border-left: 4px solid #333;
	height: 1vh;
	left: 50%;
}